/* Google Fonts import */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,300&family=REM&display=swap');


/* Remove default style with asterisk selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic styles */
    font-family: 'Poppins', sans-serif;
}


/* Header */
header {
    background-image: url("../images/pexels-henry-&-co-2344227\ \(2\).jpg");
    background-size: cover;
    background-position: center;
    padding: 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #0056b0;
}

header a {
    text-decoration: none;
    color: #0056b0;
}

h2, h3 {
    font-family: 'REM', sans-serif;
    color: #0056b0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#menu {
    list-style-type: none;
}

.active {
    border-bottom: 1px solid #0056b0;
}

/* Nav bar */
 nav {
    position:absolute;
    background-color: #a2c5e0;
    /*background-image: url("../images/pexels-henry-&-co-2344227\ \(2\).jpg");*/
    width: 100%;
    left:0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #0056b0;
    display:none;
 }


/* Main */
main {
    background-color: #fcfcd4;
    /* Main element to take up all remaining space */
    flex-grow: 1;
}

/* Footer */
footer {
    background-color: #0056b0;
}

/* Media queries */

/* For tablets and larger (min 768px) */

@media screen and (min-width: 768px) {
    
}