/* Remove default style with asterisk selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic styles */
    font-family: 'Poppins', sans-serif;
}

nav {
    color: #0056b0;
}

h2, h3 {
    font-family: 'REM', sans-serif;
    color: #0056b0;
    text-transform: uppercase;
    text-decoration: none;
}

/* Header */
header {
    background-image: url("../images/pexels-henry-&-co-2344227\ \(2\).jpg");
    background-size: cover;
    background-position: center;
    padding: 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #0056b0;
}

/* Main */
main {
    background-color: #fcfcd4;
    /* Main element to take up all remaining space */
    flex-grow: 1;
}

/* Footer */
footer {
    background-color: #0056b0;
}

/* Media queries */

/* For tablets and larger (min 768px) */

@media screen and (min-width: 768px) {
    
}